<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="RegisterForm.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>

<body>

<div class="titleText"><p>Register on our platform!</p></div>
</br>

<div class="form">
    <form action="register" method="post">

        <label>First name :</label></br>
        <input type="text" id="firstname" name="firstName"> </br></br>

        <label>Last name :</label></br>
        <input type="text" id="lastname" name="lastName"></br></br>

        <label>Email :</label></br>
        <input type="text" id="email" name="email"></br></br>

        <label>Date of birth :</label></br>
        <input type="date" id="dob" name="dateOfBirth"></br></br>

        <label>Password :</label></br>
        <input type="password" id="password" name="password"></br></br>

        <label>Gender :</label></br>
        <select name="gender" id="gender">

            <option value=""></option>
            <option value="male">Male</option>
            <option value="female">Female</option>

        </select></br></br>

        <button type="submit">
            <div class="submitButton"><p>Submit</p></div>
        </button>

    </form>
</div>

<div class="myImg"><img src="/spongebob.png" alt="spongebob"></div>

</body>

</html>